<h1>Index page</h1>

<% @articles.each do |article|%>
  <p>Article ID:<%= article.id %></p>
  <p>Article Title:<%= article.title %></p>
  <p>Article Description:<%= article.description %></p>
  <p><%= link_to "edit", edit_article_path(article) %></p><br/>

<% end %>
